.cart_container{
    width: 99.7vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
    padding-top: 11em;
    
}

.cart_inner_item{
    position: relative
}

.cart_item_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.cart_btn_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.shopping_cart{
    width: 50%;
    height: auto;
     background-color: var(--white-bg);
     display: flex;
     flex-direction: column;
}

img{
    width: 120px;
}

.total_amount{
    font-weight: bold;
}

.amount_s{
    font-size: 2em;
    font-style: oblique;
}




.shopping_cart_title{
    font-size: 150%;
    text-align: center;
}

.empty_cart_div{
    height: 50vh;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-cart-btn{
    color: var(--text-indigo);
}

.ctn_shoppin_btn{
    color: var(--text-indigo);
}


.item_title{
    color: var(--text-indigo);
    font-weight: bold;
    text-transform: uppercase;
}

.remove-item-btn{
    color: var(--text-primary);
    background: red;
    padding: 4px 2em;
    margin-top: 2em;
}



@media (min-width: 280px) and (max-width: 412px){
    .cart_container{
        height: 120vh;
        width: 99.9vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1em;
        padding-top: 9em;
        
    }

    .shopping_cart_title{
        font-size: 150%;
        text-align: center;
        padding-bottom: 30px;
        color: var(--text-indigo);
    }

    .cart_btn_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .shopping_cart{
        width: 100%;
         background-color: beige;
    }

    .empty_cart_div{
        height: 30vh;
        padding: 0 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


