/* @import "tailwindcss"; */

:root{
    --colored-bg: #8c1985;
    --text-primary: #fff;
}


.nav_container{
    position: relative;
}

nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3em;
    height: 5em;
    background: var(--colored-bg); 
}



.logo_div{
    text-decoration: none;
    color: var(--text-primary);
}

.nav_cart{
    text-decoration: none;
    color: var(--text-primary);
    width: 100%;
}

.nav_cart_icon{
    color: var(--text-primary);
}


.cart_div{
    position: relative;
}

.cart_value_digit{
    position: absolute;
    bottom: 15px;
    left: 14px;
    background-color: orange;
    padding: 0 3px;
    font-weight: bold;
    border-radius: 100px;
}



@media (min-width: 280px) and (max-width: 412px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 2em;
        height: 5em;
        background: var(--colored-bg); 
    }
}
