/* @import "tailwindcss"; */

:root{
    --colored-bg: #8c1985;
    --text-primary: #fff;
    --general-gray-bg: #f2f2f5;
    --white-bg: #ffffff;
    --text-indigo: #8c1985;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    background: var(--general-gray-bg);
    width: 100vw;
    height: 100%;
    padding-top: 60px;
}

