.products_container{
    height: 100vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}

img{
    width: 40%;
}

.product_list_items{
    display: grid;
    grid-template-rows:  200px;
    grid-template-columns: 300px 300px 300px 280px;
    gap: 40px;
    margin-top: 7em;
}

.products_card{
    height: 11em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 5px;
    border-radius: 1em;
    background: var(--text-primary);
    color: var(--text-indigo);
}

.product_list_title > h2{
    font-size: 120%;
    padding-left: .9em;
    color: var(--text-indigo);
}

@media (min-width: 280px) and (max-width: 412px){
    .products_container{
        height: 350vh;
        width: 99vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex: 1;
    }


    .product_list_items{
        display: grid;
        grid-template-rows:  200px;
        grid-template-columns: 300px;
        gap: 20px;
        margin-top: 2em;
    }

    .products_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(195, 201, 199);
        margin: 5px;
        border: 1px solid black;
        border-radius: 1em;
    }
}

